extends ../layout

block scripts
  include ../includes/js/jquery
  include ../includes/js/jquery-ui
  include ../includes/js/data-tables

  script
    $(document).ready(function() {

      $('#history').dataTable({ aaData: !{people}, aaSorting: [[9, 'desc']] });

      if ($('td:first').hasClass('dataTables_empty') == false) {
        $('tbody > tr').each(function() {
          if ($(this).find('td:nth-child(11)').text() == '') { // not signed out
            $(this).append('<td><input class="signout" type="button" value="Sign Out" /></td>');
          } else {
            $(this).append('<td></td>');
            $(this).find('td:nth-child(12)').css('visibility', 'hidden'); // hide signout button
          }
        });
      }

      $('.signout').click(function() {
        var tr_elem = $(this).parent().parent();
        var row_id = tr_elem.find('td:first').text();

        $.post('admin_manual_signout', {'row_id': row_id}, function(data) {
          tr_elem.find('td:nth-child(11)').text(data);
          tr_elem.find('td:nth-child(12)').css('visibility', 'hidden'); // hide signout button
        });
      });
    });

block content
  include ../includes/logo

  .content
    h1 Sign-In / Sign-Out History

  div(style="margin-left:5%; margin-right:5%")

    br
    br

    table#history
      thead
        tr
          th #
          th First Name
          th Last Name
          th Reason for Visit
          th Email
          th Company Name
          th Job Title
          th Host
          th Badge Number
          th Sign-In Time
          th Sign-Out Time
    br
    br

  include ../includes/admin_back

