extends ../layout

block scripts
  include ../includes/js/jquery
  include ../includes/js/jquery-ui
  include ../includes/js/data-tables

  script.

    function refresh_signout_buttons() {

      if ($('td:first').hasClass('dataTables_empty') === false) {
        $('tbody > tr').each(function() {
          if ($(this).find('td:nth-child(11)').text() !== '') { // not signed out
            $(this).find('td:nth-child(12)').css('visibility', 'hidden'); // hide signout button
          }
        });
      }

      $('.signout').click(function() {
        var tr_elem = $(this).parent().parent();
        var row_id = tr_elem.find('td:first').text();

        $.post('admin_manual_signout', {'row_id': row_id}, function(data) {
          tr_elem.find('td:nth-child(11)').text(data);
          tr_elem.find('td:nth-child(12)').css('visibility', 'hidden'); // hide signout button
        });
      });

    }


    $(document).ready(function() {

      var oTable = $('#history').dataTable({
        aaData: !{people},
        aaSorting: [[9, 'desc']],
        aoColumns: [
          null,
          null,
          null,
          null,
          null,
          null,
          null,
          null,
          null,
          null,
          null,
          { 'fnRender': function(oObj) {
              return '<td><input class="signout" type="button" value="Sign Out" /></td>';
            }
          },
        ],
      });

      refresh_signout_buttons();

      $('#datepicker').datepicker();
      $('#datepicker').datepicker('option', 'dateFormat', 'm/d/yy');
      $('#datepicker').val('All Days'); // shown when a date isn't selected
      $('#datepicker').click(function() {
        $('#datepicker').datepicker('show');
      });
      $('#datepicker').change(function() {
        oTable.fnFilter($('#datepicker').val(), 9);
        refresh_signout_buttons();
      });

      $('#history_next').click(function() {
        refresh_signout_buttons();
      });

    });


block content
  include ../includes/logo

  .content
    h1 Sign-In / Sign-Out History

  div(style="margin-left:5%; margin-right:5%")

    div(style='float:right')
      b Filter by Day: &nbsp;
      input.button#datepicker(type="button")
    br
    br

    br
    br

    table#history
      thead
        tr
          th #
          th First Name
          th Last Name
          th Reason for Visit
          th Email
          th Company Name
          th Job Title
          th Host
          th Badge Number
          th Sign-In Time
          th Sign-Out Time
          th Sign Out?
    br
    br

  include ../includes/admin_back

