extends ../layout

block scripts
  include ../includes/js/jquery
  include ../includes/js/jquery-ui
  include ../includes/js/data-tables

  script.
    $(document).ready(function() {

      String.prototype.endsWith = function(suffix) {
        return this.indexOf(suffix, this.length - suffix.length) !== -1;
      };

      $('#hosts').dataTable({ aaData: !{hosts}, aaSorting: [[1, 'asc']] });

      $('#hosts_update').css('margin-bottom', '30px');
      $('#hosts_update').children().css('margin', '5px');

      $('#hosts_update img').css('visibility', 'hidden');
      $('#hosts_update > [type=file]').change(function() {
        var file = this.files[0];
        if (file.size > 2048000 || !file.name.endsWith('.csv')) {
          alert('Please upload a CSV file less than 2MB.');
          $(this).val(''); // clear file path
        }
      });
      $('#hosts_update > [type=button]').click(function() {
        if ($('#hosts_update > [type=file]')[0].files.length == 0) {
          return;
        }

        $('#hosts_update img').css('visibility', 'visible');
        var file = $('#hosts_update > [type=file]')[0].files[0];
        $.ajax({
          url: "admin_update_hosts",
          type: "POST",
          data: file,
          processData: false,
          contentType: file.type,
          success: function() {
            $('#hosts_update img').css('visibility', 'hidden');
            location.reload();
          }
        });
      });

    });

block content
  include ../includes/logo

  .content
    h1 List of Hosts

  div(style="margin-left:20%; margin-right:20%")
    table#hosts
      thead
        tr
          th Email Address
          th Name

    br
    br
    br
    br

    form#hosts_update(enctype="multipart/form-data")
      label Upload a new list of hosts (must be a CSV file; will get rid of the current list of hosts)
      br
      input(type="file", size="40")
      input(type="button", value="Update")
      img(src="images/ajax-loader.gif")

  include ../includes/admin_back

