extends ../layout

block scripts
  include ../includes/js/jquery
  include ../includes/js/focus

  include ../includes/js/crypto

  script.
    $(document).ready(function() {
      $('#login').submit(function() {
        $('#password').val(CryptoJS.SHA256($('#password').val()));
      });
    });

block content
    include ../includes/logo

    .content
      h1 Administrator Login

      form#login(method="post", action="admin_menu")
        br
        br
        label Please enter the password:
        br
        br
        input#password(type="password", name="password")

        br
        br
        br
        br
        input.button(type="submit", value="Next ►")

