extends ../layout

block scripts
  include ../includes/js/jquery

  script.
    $(document).ready(function() {
      $('.row').width('525px').css('margin', '0px auto');
      $('.row').children().css('margin', '20px');
      $('.row').children().css('white-space', 'normal');
    });

block content
    include ../includes/logo

    h1 Administrator Menu

    .row
      input.big_button(type="button", value="Change App Settings", onClick="parent.location='admin_settings'")
      input.big_button(type="button", value="View Log History", onClick="parent.location='admin_history'")

    .row
      input.big_button(type="button", value="Edit Visit Reasons", onClick="parent.location='admin_reasons'")
      input.big_button(type="button", value="View List of Hosts", onClick="parent.location='admin_hosts'")

