extends ../layout

block scripts
  //- FIXME: Jeditable does not like jQuery 1.8.1, so do a downgrade.
  //-include ../includes/js/jquery
  script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js')
  include ../includes/js/data-tables
  include ../includes/js/jeditable

  script.
    var oTable;
    var editHash;

    $(document).ready(function() {
      var editUrl = 'admin_reasons_edit';

      oTable = $('#reasons').dataTable(
        { 'aaData': !{reasons}
        , 'aaSorting': []
        , 'aoColumns': [
            /* id */ { "bSearchable": false,
                       "bVisible":    true },
            /* reason */             null,
            /* show company page? */ null,
            /* template id */        null,
            /* show host page? */    null,
            /* show badge page? */   null
          ]
        }
      );

      editHash =
        { submitdata: function(value, settings) {
          var row_pos = oTable.fnGetPosition(this)[0] + 1;
          var column_pos = oTable.fnGetPosition(this)[1];
          return { "row_id": $('tr:nth-child(' + row_pos + ') > td:first').text()
                 , "column": $('th').eq(column_pos).attr('id')
          };
        }
        , onblur: 'submit'
      };

      oTable.$('td:not(:first)').editable(editUrl, editHash);

      $('#add_button').click(function() {
        var last_row_id = $('tr:last > td:first').text();
        var next_row_id = parseInt(last_row_id, 10) + 1;
        $('#reasons').dataTable().fnAddData(
          [ next_row_id
          , '(click to edit)'
          , '(click to edit)'
          , '(click to edit)'
          , '(click to edit)'
          , '(click to edit)'
        ]);
        $.post(editUrl, {'add': true});

        oTable.$('td:not(:first)').editable(editUrl, editHash);
      });

      $('tbody > tr').append('<td><a id="delete" href="#">X</a></td>');
      $('a#delete').click(function() {
        var tr_elem = $(this).parent().parent();
        var row_id = tr_elem.find('td:first').text();
        if (confirm('Are you sure you want to delete Reason #' + row_id + '?')) {
          $.post(editUrl, {'delete': true, 'row_id': row_id});
          tr_elem.hide();
        }
      });
    });

block content
  include ../includes/logo

  .content
    h1 Edit Visit Reasons

  div(style="margin-left:5%; margin-right:5%")
    table#reasons
      thead
        tr
          th#id #
          th#reason Reason
          th#show_company Show Company Page?
          th#template_guid Template ID
          th#show_host Show Host Page?
          th#show_badge Show Badge Page?

    br
    br
    input.button#add_button(type="button", value="Click to add a new reason")
    br
    br

  include ../includes/admin_back

