br
br
br
br

input#back_button.button(type="button", value="◄ Back", onclick="window.location.href='/back'")
span(style="display:inline-block; width:50px;")
input#next_button.button(type="submit", value="Next ►")

br
br

