script(src='/javascripts/jquery.idle-timer.js')
script.
  $(document).ready(function() {
    $.get('timeout', function(time) {
      $.idleTimer(time * 1000);
      $(document).bind('idle.idleTimer', function() {
        window.location.href = "/";
      });
    });
  });
