extends ../layout

block scripts
  include ../includes/js/jquery
  include ../includes/js/center
  include ../includes/js/focus
  include ../includes/js/form
  include ../includes/timeout

block content

  include ../includes/logo

  .main

    h2 &nbsp;

    form(action="flow", method="post", autocomplete="off")
      p What is your badge number?
      input#badge_number(type="text", name="badge_number", size="20", class="required")

      include ../includes/back_and_next

  include ../includes/page_number

