extends ../layout

block scripts
  include ../includes/js/jquery
  include ../includes/js/center
  include ../includes/js/focus
  include ../includes/js/form
  include ../includes/timeout

block content

  include ../includes/logo

  .main

    h2 &nbsp;

    form#business_form(action="flow", method="post", autocomplete="off")
      p What is the name of your company?*
      input#company_name(type="text", name="company_name", size="40", class="required", minlength="1")
      p What is your job title?
      input#job_title(type="text", name="job_title", size="40")

      include ../includes/back_and_next

  include ../includes/page_number

