extends ../layout

block scripts
  include ../includes/js/jquery
  include ../includes/js/center
  include ../includes/timeout

block content

  include ../includes/logo

  .main

    h1 Complete!
    br

    p Thank you, #{guest_firstname} #{guest_lastname}. You have been signed in!
    if host_name != ''
      p Your host, #{host_name}, has been notified of your arrival.
    br

    p
      input.big_button(type="button", value="Go back to the Sign-In page", style="white-space: normal;", onclick="parent.location='/'", readonly)

  include ../includes/page_number

