extends ../layout

block scripts
  include ../includes/js/jquery
  include ../includes/js/center
  include ../includes/js/focus
  include ../includes/js/form
  include ../includes/timeout

block content

  include ../includes/logo

  .main

    h2 &nbsp;

    form#email_form(action="sign", method="post", autocomplete="off")
      p What is your email address?
      input#email(type="text", name="email", size="40", class="email")
      br
      br
      p Note:
        br
        br
        | You will be given a copy of the
        br
        | non-disclosure agreement (NDA)
        br
        | if an email address is provided.
        br
        br
        | Providing an email address is optional.

      include ../includes/back_and_next

  include ../includes/page_number

