extends ../layout

block scripts
  include ../includes/js/jquery
  include ../includes/js/center
  include ../includes/js/focus
  include ../includes/js/form

block content

  include ../includes/logo

  .main

    h1 Welcome to <br> #{company_name} #{company_location}!
    br
    h2 Please sign in / sign out.
    br

    form(action="check_signout", method="post", id="name_form", autocomplete="off")
      p What is your first name?
      input(type="text", id="first_name", name="first_name", size="40", class="required", minlength="1")
      br
      br
      p And your last name?
      input(type="text", id="last_name", name="last_name", size="40", class="required", minlength="2")
      br

      include ../includes/next

  include ../includes/page_number

