extends ../layout

block scripts
  include ../includes/js/jquery
  include ../includes/js/center
  include ../includes/timeout

block content

  include ../includes/logo

  .main

    h2 What is your reason for visiting?

    form#visit_reason_form(action="flow", method="post")
      input#visit_reason(type="hidden", name="visit_reason")
      each reason, i in reasons
        .reason
          input.button_reason(id='#{reason}', type="button", name="visit_reason", value='#{reason}', onclick="document.getElementById('visit_reason').value = this.value; this.form.submit();")

    include ../includes/back

  include ../includes/page_number

