extends ../layout

block scripts
  include ../includes/js/jquery

  script.
    var error_message = 'An error has occurred while calling the DocuSign REST API.\n\nPlease contact DocuSign Support for assistance.';

    $(document).ready(function() {
      $.get('dsrest_init', function(error) {
        if (error) {
          alert(error_message);
          document.location.href = '/';
          return;
        }

        $.get('dsrest_create_envelope', function(error) {
          if (error) {
            alert(error_message);
            document.location.href = '/';
            return;
          }

          $.get('dsrest_iframe_url', function(result) {
            if ('errorCode' in result) {
              alert(error_message);
              document.location.href = '/';
              return;
            }

            $('iframe').attr('src', result['url']); // load in DocuSign

            // don't show iframe until DS loads fully
            $('iframe').load(function() {
              $('#iframe_loading').hide();
              $('iframe').css('visibility', 'visible');
            });
          });
        });
      });


      // adjust the size of the elements
      var w = $(window).width() * 0.95;
      var h = $(window).height() * 0.95;

      $('iframe').width(w + 'px').height(h + 'px');
      $('iframe').css('margin-left', (w * 0.02) + 'px');
      $('iframe').css('margin-top', (h * 0.02) + 'px');
      $('iframe').css('position', 'absolute');
      $('iframe').css('z-index', '1');
      $('iframe').css('visibility', 'hidden');

      $('#iframe_loading').width(w + 'px').height(h + 'px');
      $('#iframe_loading').css('margin-left', (w * 0.02) + 'px');
      $('#iframe_loading').css('margin-top', (h * 0.02) + 'px');
      $('#iframe_loading').css('position', 'absolute');
      $('#iframe_loading').css('z-index', '100');

      $('#iframe_loading img').css('position', 'absolute');
      $('#iframe_loading img').css('top', '50%');
      $('#iframe_loading img').css('left', '50%');
      $('#iframe_loading img').css('margin-top', '-33px');
      $('#iframe_loading img').css('margin-left', '-33px');
    });

block content
  iframe(scrolling="no")
  #iframe_loading
    img(src="images/ajax-loader.big.gif")

