body {
  margin: 0px;
  padding: 0px;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
}

.main {
  text-align: center;
  /* element centering is done in jQuery */
}

input {
  font-size: 36px;
}

h1 {
  text-align: center;
  margin: 20px;
}

.content {
  text-align: center;
  margin: 0px auto;
}

.wrap { 
  width: 700px; 
  margin: 0 auto; 
}

label.error {
  position: absolute;
  color: red;
  text-align: left;
}

div#host_error {
  position: absolute;
  color: red;
  text-align: left;
}

.logo {
  float: right;
  margin: 20px;
  margin-bottom: 150px;
  margin-left: 2000px; /* make sure nothing goes to the left of the logo */
  max-height: 150px;
  max-width: 150px;
}

.page_number {
  position: absolute;
  right: 40px;
  bottom: 0px;
  float: right;
}

.reason {
  margin: 20px;
}

.button {
  -moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
  -webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
  box-shadow:inset 0px 1px 0px 0px #fce2c1;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25) );
  background:-moz-linear-gradient( center top, #ffc477 5%, #fb9e25 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25');
  background-color:#ffc477;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #eeb44f;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:arial;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:1px 1px 0px #cc9f52;
}.button:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fb9e25), color-stop(1, #ffc477) );
  background:-moz-linear-gradient( center top, #fb9e25 5%, #ffc477 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='#ffc477');
  background-color:#fb9e25;
}

.button_reason {
  -moz-box-shadow:inset 0px 1px 0px 0px #05293E;
  -webkit-box-shadow:inset 0px 1px 0px 0px #05293E;
  box-shadow:inset 0px 1px 0px 0px #05293E;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #6B8FD4), color-stop(1, #05296E) );
  background:-moz-linear-gradient( center top, #6B85D4 5%, #05296E 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6B8FD4', endColorstr='#05296E');
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #6B8FF4;
  display:inline-block;
  cursor:pointer;
  color:white;
  font-weight:bold;
  font-family:arial;
  padding:12px 24px;
  text-decoration:none;
  text-shadow:1px 1px 0px #6B8FF4;
  width:500px;
}.button_reason:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #05296E), color-stop(1, #6B8FD4) );
  background:-moz-linear-gradient( center top, #05296E 5%, #6B8FD4 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#05296E', endColorstr='#6B8FD4');
}

.big_button {
  -moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
  -webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
  box-shadow:inset 0px 1px 0px 0px #fce2c1;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25) );
  background:-moz-linear-gradient( center top, #ffc477 5%, #fb9e25 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25');
  background-color:#ffc477;
  -moz-border-radius:13px;
  -webkit-border-radius:13px;
  border-radius:13px;
  border:1px solid #eeb44f;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:arial;
  font-weight:bold;
  padding:32px 32px;
  text-decoration:none;
  text-shadow:1px 3px 0px #cc9f52;
  width: 400px;
  height: 300px;
}.big_button:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fb9e25), color-stop(1, #ffc477) );
  background:-moz-linear-gradient( center top, #fb9e25 5%, #ffc477 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='#ffc477');
  background-color:#fb9e25;
}.big_button:active {
  position:relative;
  top:1px;
}

.center {
/* Firefox */
display:-moz-box;
-moz-box-orient:horizontal;
-moz-box-pack:center;
-moz-box-align:center;

/* Safari and Chrome */
display:-webkit-box;
-webkit-box-orient:horizontal;
-webkit-box-pack:center;
-webkit-box-align:center;

/* W3C */
display:box;
box-orient:horizontal;
box-pack:center;
box-align:center;
}

