extends ../layout

block scripts
  include ../includes/js/jquery
  include ../includes/js/center
  include ../includes/timeout

block content

  include ../includes/logo

  .main

    h2 &nbsp;

    p Hi, #{first_name} #{last_name}!
    p You signed in at #{signin_time}.
    p Would you like to sign out?

    br
    br
    br

    p
      input.button#signout(type="button", value="Yes, I would like to sign out.", onclick="parent.location='confirm_signout'", readonly)

    br
    br

    p
      input.button(type="button", value="No, I would like to sign in.", onclick="parent.location='reason'", readonly)

