extends ../layout

block scripts
  include ../includes/js/jquery
  include ../includes/js/center
  include ../includes/timeout

block content

  include ../includes/logo

  .main

    h1 Complete!
    br

    p Thank you, #{guest_firstname} #{guest_lastname}!
    if host_name != ''
    br

    p
      input.big_button(type="button", value="Go back to the\\nSign-In page", onclick="parent.location='/'", readonly)

  include ../includes/page_number

