extends ../layout

block scripts
  include ../includes/js/jquery
  include ../includes/js/center
  include ../includes/timeout

block content

  include ../includes/logo

  .main

    h1 Complete!
    br
    br
    br

    p Thank you, #{first_name} #{last_name}!
    p You have been signed out! Have a wonderful day!!
    br
    br

    p
      input.button(type="button", value="Go back to the sign-in page", onclick="parent.location='/'", readonly)

