extends ../layout

block scripts
  include ../includes/js/jquery

  script.
    $(document).ready(function() {
      $('.row').width('800px').css('margin', '0px auto');
      $('.row').children().css('margin', '20px');
      $('.hidden').css('visibility', 'hidden')
    });

block content
    include ../includes/logo

    h1 Administrator Menu

    .row
      input.big_button(type="button", value="Change \\n App Settings", onClick="parent.location='admin_settings'")
      input.big_button(type="button", value="View Sign-in / \\n Sign-out History", onClick="parent.location='admin_history'")
      input.big_button(type="button", value="Edit \\n Visit Reasons", onClick="parent.location='admin_reasons'")

    .row
      input.big_button.hidden(type="button", value="_ \\n _")
      input.big_button(type="button", value="View List \\n of Hosts", onClick="parent.location='admin_hosts'")

