include validate

script.
  $(document).keydown(function(e) {
    switch (e.which) {
    case 13: // enter key
      $('form').submit();
      break;
    }
    return true;
  });
  $(document).ready(function() {
    $('form').validate({ errorPlacement: function(error, element) {
      var pos = element.position();
      error.css('top', (pos.top + element.outerHeight() + 2) + 'px');
      error.css('left', (pos.left + 10) + 'px');
      element.after(error);
    }});
  });

